<html>
   <head>
   		<title>Bate Papo</title>
   </head>
   <body>
   <a href="/conversas">Conversas</a>
       <h1>Bate Papo</h1>
       <form action="/salvar" method="POST">
       		<input type="text" name="nome" placeholder="Digite seu nome"><br>
       				       		<input type="text" name="pergunta" placeholder="Qual sua pergunta?"><br>
       			<input type="text" name="resposta" placeholder="Digite sua resposta"><br>
       			<input type="submit" value="Ok">
       </form>
   </body>
</html>